@charset "utf-8";

@import "vendor/sassCore/base";
@import "vendor/sassCore/core/reset";

// 灰色遮罩怎么去掉
a, button, input, textarea{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a:hover {
    @include transition(all .15s ease-out);
}

*, *:before, *:after {
    @include box-sizing(border-box);
}

// 浮动及闭合浮动
.fn-fl{
    @include float;
}
.fn-fr{
    @include float(right);
}

.fn-clear {
    display:block;
    float:none;
    clear:both;
    overflow:hidden;
    width:auto;
    height:0;
    margin:0 auto;
    padding:0;
    font-size:0;
    line-height:0;
}
.fn-clearfix {
    @extend %clearfix;
}

.fn-hide {
    display: none;
}

.ui-w {
    max-width: 1000px;
    margin: 0 auto;
}

/* header */
.ui-header {
    border-bottom: 1px solid #003586;
    .ui-top-bar {
        padding: 25px 0 30px;
        @extend %clearfix;
        .ui-logo {
            @include float();
        }
        .ui-search {
            @include float(right);
            border-bottom: 1px solid #003586;
            color: #003586;
            line-height: 33px;
            a {
                color: #003586;
            }
            .select-tag {
                @include float();
                .select-set {
                    position: relative;
                    padding-right: 16px;
                    font-size: 16px;
                    margin-right: 5px;
                    .arrow-bottom {
                        @include arrow(button, 6px, #003586);
                        top: 50%;
                        left: auto;
                        right: 0;
                        margin-top: -3px;
                    }
                }
            }
            .in-style {
                @include float();
                width: 190px;
                height: 33px;
                border: none;
                font-size: 14px;
            }
            .button-search {
                @include float();
                width: 33px;
                height: 33px;
                overflow: hidden;
                background: url(../images/icon_search.png) no-repeat center;
                text-indent: -99em;
            }
            .select-dropdown {
                display: none;
            }
        }
    }
    .ui-main-nav {
        @extend %clearfix;
        font-size: 18px;
        color: #003586;
        li {
            @include float();
            padding: 0 15px;
        }
        .first-node {
            padding-left: 0;
        }
        a {
            display: inline-block;
            height: 50px;
            padding: 0 5px;
            color: #003586;
        }
        .active a {
            padding-bottom: 45px;
            border-bottom: 5px solid #244386;
        }
    }
}


.ui-footer {
    background: #283645;
    .ui-footer-main {
        padding: 40px 0;
        background: #2f4052;
        @extend %clearfix;
    }
    .ui-link-address {
        @extend %clearfix;
        color: #fff;
        a {
            color: #fff;
        }
        .link-list {
            @include float();
            width: 20%;
            line-height: 26px;
            dl {
                margin-bottom: 10px;
            }
            dt {
                padding-bottom: 5px;
                font-size: 16px;
            }
            .round {
                display: inline-block;
                width: 3px;
                height: 3px;
                margin-right: 5px;
                overflow: hidden;
                background: #fff;
                vertical-align: middle;
                @include border-radius(50%);
            }
        }
    }
    .footer-feed {
        .feed-title {
            margin-bottom: 10px;
            font-size: 16px;
            color: #fff;
        }
        .in-feed {
            width: 100%;
            height: 42px;
            padding: 0 10px;
            background: none;
            font-size: 16px;
            border: 2px solid #fff;
            color: #fff;
        }
        .feed-bd {
            position: relative;
        }
        .button-feed {
            position: absolute;
            top: 0;
            right: 0;
            width: 42px;
            height: 42px;
            overflow: hidden;
            background: url(../images/feed_button.png) no-repeat center;
        }
    }
    .ui-copyright {
        padding: 20px 0;
        color: #fff;
        a {
            color: #fff;
        }
        .ui-copyright-link {

        }
        .copyright-main {
            text-align: right;
        }
    }
}

.ui-title-1 {
    height: 55px;
    padding-left: 5px;
    .name {
        @include float();
        margin-right: 20px;
        font-size: 24px;
        line-height: 1.2;
        color: #244386;
    }
    .key-name {
        @include float();
        margin-top: 5px;
        font-size: 16px;
    }
    .ui-crumbs {
        @include float(right);
        margin-top: 10px;
        color: #244386;
        a {
            color: #244386;
        }
        .icon-home {
            display: inline-block;
            width: 15px;
            height: 15px;
            overflow: hidden;
            margin-right: 5px;
            background: url(../images/icon_home.png) no-repeat center;
            vertical-align: sub;
        }
    }
}

.ui-wrap {
    @extend %clearfix;
    padding-top: 130px;
    .main-content {
        padding: 15px;
        background: #fff;
    }
}

.ui-sub-nav {
    position: relative;
    width: 240px;
    margin-bottom: 5px;
    .sub-nav-title {
        display: block;
        height: 45px;
        line-height: 45px;
        padding: 15px 0 0 25px;
        background: #f6f6f6;
        @include box-shadow(0 0 3px rgba(213,213,213,.3));
        .line {
            display: block;
            width: 20px;
            height: 3px;
            margin-bottom: 4px;
            overflow: hidden;
            background: #244386;
        }
    }
    .ui-sub-nav-list {
        display: none;
        position: absolute;
        top: 45px;
        left: 0;
        width: 240px;
        min-height: 300px;
        padding: 15px 20px;
        font-size: 16px;
        background: #fff;
        border: 1px solid #f1f1f1;
        border-top: none;
        li {
            position: relative;
            padding: 5px 0;
        }
        a {
            display: block;
            height: 28px;
            line-height: 28px;
        }
        .arrow-right {
            position: absolute;
            top: 50%;
            right: 0;
            width: 5px;
            height: 5px;
            margin-top: -3px;
            overflow: hidden;
            border-right: 1px solid #244386;
            border-bottom: 1px solid #244386;
            @include rotate(315deg);
            visibility: hidden;
        }
        .active {
            border-bottom: 1px solid #244386;
            .arrow-right {
                visibility: visible;
            }
        }
    }
}
.ui-sub-nav-show .ui-sub-nav-list {
    display: block;
}

.ui-sub-nav-isshow .ui-sub-nav-list {
    display: block;
    position: inherit;
    top: 0;
}

/* investor */
.investor-wrap {
    min-height: 300px;
    background: url(../images/banner_bg_1.jpg) no-repeat top center;
    .stock {
        margin-bottom: 15px;
        .upload-tiem {
            height: 35px;
            font-size: 14px;
            text-align: right;
        }
        .table-1 {
            width: 100%;
            font-size: 14px;
            text-align: center;
            border-top: 2px solid #244386;
            td,
            th {
                height: 32px;
                line-height: 32px;
                border-bottom: 1px solid #e5e5e5;
                border-left: 1px solid #e5e5e5;
            }
            th {
                background: #fafafa;
            }
            .sp-1 {
                border-left: none;
            }
            .red {
                color: #f00;
            }
            .green {
                color: #00d81e;
            }
            .blue {
                color: #003586;
            }
        }
    }
    .title {
        height: 34px;
        h2 {
            font-size: 16px;
            line-height: 1.2;
            color: #3a3a3a;
        }
    }
    .annual-report {
        margin-top: 20px;
        .title {
            height: 40px;
        }
        .report-focus {
            @extend %clearfix;
            position: relative;
            height: 265px;
            .button-prev,
            .button-next {
                position: absolute;
                top: 80px;
                display: inline-block;
                width: 20px;
                height: 28px;
                overflow: hidden;
                background: url(../images/arrow.png) no-repeat 0 2px;
            }
            .button-prev {
                left: 0;
            }
            .reprot-focus-list {
                //width: 398px;
                //overflow: hidden;
                //margin: 0 auto;
                ul {
                    @extend %clearfix;
                    width: 200%;
                }
                li {
                    @include float();
                    width: 135px;
                }
                .pic {
                    width: 124px;
                    height: 174px;
                    padding: 2px;
                    margin-bottom: 8px;
                    overflow: hidden;
                    border: 1px solid #929292;
                    img {
                        width: 100%;
                    }
                }
                .name {
                    text-align: center;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 1.2;
                }
            }
            .button-next {
                right: 0;
                background-position: 0 -74px;
            }
        }
    }
    .ir-feed {
        margin-bottom: 20px;
        .in-br {
            @include float();
            width: 240px;
            height: 40px;
            padding: 0 10px;
            margin-right: 15px;
            background: #f5f5f5;
            border: none;
            border-top: 1px solid #d2d2d2;
            border-left: 1px solid #d2d2d2;
            @include border-radius(2px);
        }
        .bd {
            @extend %clearfix;
            a {
                @include float();
                display: inline-block;
                height: 40px;
                line-height: 40px;
                padding: 0 20px;
                margin-right: 4px;
                font-size: 16px;
                color: #fff;
                background: #a8a8a8;
                @include border-radius(2px);
            }
            .button-feed {
                background: #003586;
            }
        }
    }

    .new-news {
        .table {
            width: 100%;
            font-size: 14px;
            th,
            td {
                height: 40px;
                line-height: 40px;
                border-left: 1px solid #e5e5e5;
                border-bottom: 1px solid #e5e5e5;
            }
            th {
                height: 37px;
                line-height: 37px;
                background: #f6f6f6;
                border-top: 2px solid #244386;
            }
            .tag {
                display: inline-block;
                height: 26px;
                line-height: 26px;
                padding: 0 3px;
                background: #003586;
                color: #fff;
                @include border-radius(3px);
            }
            .sp-1 {
                border-left: none;
            }
            .sp-2 {
                text-align: center;
                width: 100px;
            }
            th.sp-1 {
                text-align: left;
                padding-left: 30px;
            }
            .text {
                height: 37px;
                overflow: hidden;
            }
        }
        .button-inner {
            padding-top: 20px;
            text-align: right;
            font-size: 14px;
            a {
                color: #003586;
            }
        }
    }
}

.share-fn {
    padding: 50px 0 20px 0;
    border-bottom: 1px solid #5a5a5a;
}
.other-fn {
    padding-top: 10px;
    text-align: right;
}

.about-wrap {
    background: url(../images/banner_bg_2.jpg) no-repeat top center;
    .ui-sub-nav {
        @include float();
    }
    .main-content {
        @include float(right);
        width: 740px;
        margin-top: 45px;
    }
    .about-banner {
        margin-bottom: 20px;
        img {
            width: 100%;
        }
    }
    .about-content {
        font-size: 14px;
        text-align: justify;
        .about-content-pic {
            @include float(right);
            margin: 0 0 20px 20px;
        }
    }
}

@include ipad-retina(portrait){
    .ui-header {
        padding-left: 15px;
        padding-right: 15px;
        .ui-main-nav {
            li {
                padding: 0;
            }
        }
    }
    .ui-footer {
        .ui-w {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    .investor-wrap {
        .annual-report {
            .report-focus {
                .reprot-focus-list {
                    //width: 260px;
                }
            }
        }
        .ir-feed .in-br {
            width: 170px;
            margin-right: 10px;
        }
    }

    .about-wrap {
        .main-content {
            width: 510px;
        }
    }
}