/* footer */
.ui-footer {
    width: 1000px;
    padding: 30px 0 40px;
    margin: 0 auto;
    text-align: center;
    color: #cecece;
    a {
        margin: 0 5px;
        color: #cecece;
    }
    .ui-copyright {
        margin-left: 20px;
    }
}