.about-wrap .about .button-inner .button-more, .about-wrap .blog-link .icon-weibo,
.about-wrap .blog-link .icon-weixin, .ui-popup-player .player-content .blog-link .icon-weibo,
.ui-popup-player .player-content .blog-link .icon-f,
.ui-popup-player .player-content .blog-link .icon-t, .subscribe-wrap .phone-rss .button-sub {
  display: inline-block; }

.fn-clearfix:before, .about-wrap .main-player .player-list .item:before, .ui-popup-player .player-content:before, .fn-clearfix:after, .about-wrap .main-player .player-list .item:after, .ui-popup-player .player-content:after {
  content: "";
  display: table; }
.fn-clearfix:after, .about-wrap .main-player .player-list .item:after, .ui-popup-player .player-content:after {
  clear: both; }

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 * 0. sassCore's style
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  overflow-y: scroll;
  /* 0 */
  -webkit-overflow-scrolling: touch;
  /* 0 */ }

/**
 * 1. Remove default margin
 * 0. sassCore's style.
 */
body {
  margin: 0;
  /* 1 */
  font-size: 0.14rem;
  /* 0 */
  line-height: 1.5;
  /* 0 */
  color: #fff;
  /* 0 */
  background-color: #97c4e6;
  /* 0 */ }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 * 3. Correct `inline-block` display in IE 6/7.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background color from active links in IE 10.
 * 2. Improve readability when focused and also mouse hovered in all browsers.
 * 0. sassCore's style.
 */
a {
  background: transparent;
  /* 1 */
  /* 0 */
  text-decoration: none;
  color: #666; }
  a:active, a:hover {
    outline: 0;
    /* 2 */ }
  a:hover {
    color: #84a3e3; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improve image quality when scaled in IE 7.
 * 0. sassCore's style.
 */
img {
  border: 0;
  /* 1 */
  vertical-align: middle;
  /* 0 */ }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * 1. Contain overflow in all browsers.
 * 2. Improve readability of pre-formatted text in all browsers.
 */
pre {
  overflow: auto;
  /* 1 */
  white-space: pre;
  /* 2 */
  white-space: pre-wrap;
  /* 2 */
  word-wrap: break-word;
  /* 2 */ }

/**
 * 1. Address odd `em`-unit font size rendering in all browsers.
 * 2. Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Remove default vertical scrollbar in IE 8/9/10/11.
 * 0. sassCore's style
 */
textarea {
  overflow: auto;
  /* 1 */
  resize: vertical;
  /* 0 */ }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/**
 * Address CSS quotes not supported in IE 6/7.
 */
html,
button,
input,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Tahoma, "Microsoft Yahei", sans-serif; }

h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
  margin: 0; }

ul, ol, li, dl, dd {
  margin: 0;
  padding: 0; }

ul, ol {
  list-style: none outside none; }

h1, h2, h3 {
  line-height: 2;
  font-weight: normal; }

h1 {
  font-size: 0.21rem; }

h2 {
  font-size: 0.182rem; }

h3 {
  font-size: 0.1638rem; }

h4 {
  font-size: 0.14rem; }

h5, h6 {
  font-size: 0.119rem;
  text-transform: uppercase; }

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #ccc; }

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #ccc; }

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #ccc; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #ccc; }

.height-overflow {
  height: 100%;
  overflow: hidden; }

.m-wrap {
  position: relative;
  max-width: 480px;
  height: 100%;
  margin: 0 auto; }

@font-face {
    font-family: 'GothamNarrow';
    src:    url('../fonts/GothamNarrow.eot?prcg7k');
    src:    url('../fonts/GothamNarrow.eot?prcg7k#iefix') format('embedded-opentype'),
        url('../fonts/GothamNarrow.ttf?prcg7k') format('truetype'),
        url('../fonts/GothamNarrow.woff?prcg7k') format('woff'),
        url('../fonts/GothamNarrow.svg?prcg7k#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}  

html {
  font-size: 100px; }

html,
body {
  min-height: 100%; }

a, button, input, textarea {
  -webkit-tap-highlight-color: transparent; }

a:hover {
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.fn-fl {
  float: left; }

.fn-fr {
  float: right; }

.fn-clear {
  display: block;
  float: none;
  clear: both;
  overflow: hidden;
  width: auto;
  height: 0;
  margin: 0 auto;
  padding: 0;
  font-size: 0;
  line-height: 0; }

.fn-hide {
  display: none; }

.fn-hide {
  display: none !important; }

.popup-loading {
  /*display: none;*/
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1010;
  width: 100%;
  height: 100%;
  background: #97c4e6;
  text-align: center;
  -webkit-transform-style: preserve-3d; }
  .popup-loading .loading-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.5rem;
    height: .24rem;
    margin: -.12rem 0 0 -.78rem;
    text-align: center; }
  .popup-loading .icon-football-loader {
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 3;
    width: .25rem;
    height: .25rem;
    margin: 0 0 0 -.12rem;
    background: url(../images/ball.png) no-repeat top left;
    background-size: 100% 100%;
    -webkit-animation: football-bounce .3s infinite alternate ease-out;
    animation: football-bounce .3s infinite alternate ease-out;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom; }
  .popup-loading .ball-bg {
    content: '';
    left: 50%;
    bottom: 0;
    z-index: 2;
    position: absolute;
    width: .2rem;
    height: .2rem;
    margin-left: -.1rem;
    background: #2f3133;
    -webkit-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom;
    border-radius: 50%;
    -webkit-animation: football-bounce-shadow .3s infinite alternate ease-out;
    animation: football-bounce-shadow .3s infinite alternate ease-out; }

@-webkit-keyframes football-bounce {
  from {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5); }
  15% {
    -webkit-transform: none;
    transform: none; }
  to {
    -webkit-transform: translate(0, -25px);
    transform: translate(0, -25px); } }
@keyframes football-bounce {
  from {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5); }
  15% {
    -webkit-transform: none;
    transform: none; }
  to {
    -webkit-transform: translate(0, -25px);
    transform: translate(0, -25px); } }
@-webkit-keyframes football-bounce-shadow {
  from {
    background: rgba(0, 0, 0, 0.5);
    -webkit-transform: scaleY(0.15) scaleX(0.9) translate(0, 50%);
    transform: scaleY(0.15) scaleX(0.9) translate(0, 50%); }
  to {
    background: rgba(0, 0, 0, 0.15);
    -webkit-transform: scaleY(0.15) scaleX(0.4) translate(0, 50%);
    transform: scaleY(0.15) scaleX(0.4) translate(0, 50%); } }
@keyframes football-bounce-shadow {
  from {
    background: rgba(0, 0, 0, 0.5);
    -webkit-transform: scaleY(0.15) scaleX(0.9) translate(0, 50%);
    transform: scaleY(0.15) scaleX(0.9) translate(0, 50%); }
  to {
    background: rgba(0, 0, 0, 0.15);
    -webkit-transform: scaleY(0.15) scaleX(0.4) translate(0, 50%);
    transform: scaleY(0.15) scaleX(0.4) translate(0, 50%); } }
.popup-loading .loading-bar {
  position: absolute;
  top: -70px;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-left: -30px;
  overflow: hidden;
  clip: rect(0 30px 60px 0);
  -webkit-animation: loading 1.2s linear infinite;
  -moz-animation: loading 1.2s linear infinite;
  animation: loading 1.2s linear infinite; }

.popup-loading .loading-bar:before {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 60px;
  height: 60px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  background: #fff;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(rgba(255, 255, 255, 0)));
  background: -moz-linear-gradient(top, white, rgba(255, 255, 255, 0));
  background: linear-gradient(top, white, rgba(255, 255, 255, 0)); }

.popup-loading .loading-bar:after {
  display: block;
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 3;
  width: 54px;
  height: 54px;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #000; }

.fixed-arrow {
  position: fixed;
  left: 50%;
  bottom: .2rem;
  margin-left: -.3rem;
  z-index: 1000;
  width: .6rem;
  height: .3rem;
  background: url(../images/arrow.png) no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-animation: arrow 1.5s infinite ease-in-out;
  -moz-animation: arrow 1.5s infinite ease-in-out;
  animation: arrow 1.5s infinite ease-in-out; }

@-webkit-keyframes arrow {
  0%, 30% {
    opacity: 0;
    -webkit-transform: translate3d(0, -10px, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0); }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 8px, 0); } }
@-webkit-keyframes loading1 {
  0% {
    top: 0; }
  20% {
    top: .28rem; }
  60% {
    top: .4rem; }
  100% {
    top: 0; } }
@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg); }
  25% {
    -webkit-transform: rotate(90deg); }
  50% {
    -webkit-transform: rotate(180deg); }
  75% {
    -webkit-transform: rotate(270deg); }
  100% {
    -webkit-transform: rotate(360deg); } }
.m-page {
  /*display: none;*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow: hidden; }

.ui-header {
  padding: .05rem 0;
  text-align: center;
  background: #97c4e6; }
  .ui-header .logo {
    width: 35%; }

.en-m-wrap .ui-header .logo {
    width: 45%; }    

.m-page-1 .bg {
  width: 100%; }
.m-page-1 .logo-content {
  position: absolute;
  top: 23%;
  left: 16%;
  width: 68%; }
  .m-page-1 .logo-content img {
    width: 100%; }
.m-page-1 .switch-lang {
  position: absolute;
  bottom: .18rem;
  right: .18rem;
  width: .4rem;
  background: #6daee0;
  border: 1px solid #000; }
  .m-page-1 .switch-lang:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: .15rem;
    height: 1px;
    margin-left: -0.05rem;
    background: #fff;
    overflow: hidden;
    -webkit-transform: rotate(125deg);
    transform: rotate(125deg); }
  .m-page-1 .switch-lang .item {
    font-size: .12rem;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    line-height: 1.1;
    margin-left: -.02rem; }
    .m-page-1 .switch-lang .item a {
      color: #fff; }
  .m-page-1 .switch-lang .en {
    text-align: right; }

.m-page-2 .list img {
  width: 100%; 
  vertical-align: top;
}

.m-page.page-active {
  z-index: 50; }
.m-page .page-content {
  overflow: auto;
}

.game-bg {
  background: #182a3c url(../images/game/bg.jpg) no-repeat center bottom;
  background-size: cover; }

.ui-title-1 {
  position: relative;
  text-align: center;
  font-size: .2rem;
  min-height: .5rem;
  padding: .05rem 0 .1rem; }
  .ui-title-1 h2 {
    color: #ffc56f; }
  .ui-title-1 .button-return {
    position: absolute;
    top: .15rem;
    left: .15rem;
    width: 16px;
    height: 16px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }

.game-wrap .game-list {
  padding: 0 .15rem .2rem; }
  .game-wrap .game-list .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    margin-bottom: .05rem; }
    .game-wrap .game-list .item .team {
      width: .7rem;
      text-align: center; }
      .game-wrap .game-list .item .team .team-logo img {
        width: 100%; }
      .game-wrap .game-list .item .team .team-name {
        margin-top: .05rem;
        font-size: .16rem; }
    .game-wrap .game-list .item .vs-info {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      -webkit-flex: 1;
      -moz-flex: 1;
      flex: 1;
      text-align: center;
      font-size: .12rem;
      padding-top: .15rem; }
      .game-wrap .game-list .item .vs-info .game-vs {
        margin-top: .22rem;
        font-size: .16rem; }

    .game-wrap .game-list .buy-inner {
      padding-bottom: .15rem;
      text-align: center;
    }
    .game-wrap .game-list .button-buy {
      display: inline-block;
      height: .26rem;
      line-height: .26rem;
      padding: 0 .1rem;
      background: #fccd4a;
      color: #2e4b7c;
      font-size: .16rem;
    }    
.game-wrap .game-about {
  padding: .1rem;
  font-size: .12rem; }

.game-wrap.en-game-wrap .game-list .item .team-name {
  font-size: .12rem; }

.ui-bg-1 {
  background: #fff url(../images/bg_2.png?t=2) repeat 0 0;
  color: #403f3f; }

.about-wrap .ui-title-1 h2 {
  font-weight: 700;
  color: #000; }
.about-wrap .ui-title-1 .button-return {
  border-top-color: #000;
  border-left-color: #000; }
.about-wrap .about {
  padding: 0 .2rem .3rem; }
  .about-wrap .about .button-inner {
    padding-top: .25rem;
    text-align: center; }
    .about-wrap .about .button-inner .button-more {
      position: relative;
      height: .22rem;
      padding: 0 .2rem 0 .08rem;
      line-height: .22rem;
      font-size: .12rem;
      background: #fff;
      border: 1px solid #000; }
      .about-wrap .about .button-inner .button-more:after {
        content: "";
        position: absolute;
        top: .05rem;
        right: .08rem;
        width: .07rem;
        height: .07rem;
        border-bottom: 1px solid #000;
        border-right: 1px solid #000;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg); }
.about-wrap .blog-link {
  padding: 0 .2rem .25rem;
  font-size: .14rem; }
  .about-wrap .blog-link a{
    color: #403f3f;
  }
  .about-wrap .blog-link .icon-weibo,
  .about-wrap .blog-link .icon-weixin {
    width: .14rem;
    height: .14rem;
    overflow: hidden;
    background: url(../images/icon_share_weibo.png) no-repeat top left;
    background-size: cover;
    vertical-align: middle; }
  .about-wrap .blog-link .icon-weixin {
    background-image: url(../images/icon_share_weixin.png); }
.about-wrap .main-player {
  padding-bottom: .2rem; }
  .about-wrap .main-player .player-title {
    padding-bottom: .15rem;
    text-align: center; }
    .about-wrap .main-player .player-title h4 {
      font-size: .2rem;
      color: #7f7f7f; }
  .about-wrap .main-player .player-list li {
    float: left;
    width: 33.33%;
    padding: 0 .02rem;
    margin-bottom: .12rem; }
  .about-wrap .main-player .player-list .inner {
    position: relative;
    padding: .03rem;
    background: #fff;
    -webkit-box-shadow: 0 0 0.1rem rgba(152, 194, 232, 0.5);
    box-shadow: 0 0 0.1rem rgba(152, 194, 232, 0.5); }
  .about-wrap .main-player .player-list .pic {
    position: relative;
    margin-bottom: .1rem; }
    .about-wrap .main-player .player-list .pic img {
      width: 100%; }
    .about-wrap .main-player .player-list .pic:after {
      content: "";
      position: absolute;
      bottom: -.03rem;
      right: -.03rem;
      width: 85%;
      height: .03rem;
      background: #2d2f31; }
  .about-wrap .main-player .player-list .ch-name {
    position: absolute;
    top: .02rem;
    left: .02rem;
    font-size: 12px;
    -webkit-transform: scale(.9);
    transform: scale(.8);
    color: #000; }
  .about-wrap .main-player .player-list .en-name {
    margin-bottom: .15rem;
    line-height: 1.1;
    font-weight: 700; }
  .about-wrap .main-player .player-list .country .coutry-logo {
    width: .3rem;
    margin-bottom: .05rem; }
    .about-wrap .main-player .player-list .country .coutry-logo img {
      width: 100%; }
  .about-wrap .main-player .player-list .country .coutry-name {
    font-size: .12rem;
  }    
  .about-wrap .main-player .player-list .pos {
    position: absolute;
    right: .05rem;
    bottom: .1rem;
    font-size: .45rem;
    font-weight: 700;
    line-height: 1;
    color: #f6f6f8; }

.ui-button-close {
  position: absolute;
  top: .15rem;
  right: .15rem;
  width: .25rem;
  height: .25rem; }
  .ui-button-close:before, .ui-button-close:after {
    content: "";
    position: absolute;
    top: .1rem;
    left: 0;
    width: .25rem;
    height: .03rem;
    background: #fff; }
  .ui-button-close:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  .ui-button-close:after {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg); }

.ui-popup-about {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  padding: .3rem;
  background: #2a2b2d url(../images/about/popup_about_1.png) no-repeat top right;
  background-size: 2rem 1.8rem;
  color: #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .ui-popup-about .main-title {
    padding-bottom: .1rem;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    color: #fbc36e; }
  .ui-popup-en-about .main-title {
    font-size: 19px;
  }   
  .ui-popup-about .about-scroll {
    height: 96%;
    overflow-y: auto; }

.ui-popup-player {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  padding: .5rem .15rem 0;
  background: #e4f8ff url(../images/about/popup_bg_1.png) repeat 0 0; }
  .ui-popup-player .ui-button-close:before, .ui-popup-player .ui-button-close:after {
    background: #a8abac; }
  .ui-popup-player .player-content .col-left,
  .ui-popup-player .player-content .col-right {
    position: relative;
    float: left;
    width: 50%; }
  .ui-popup-player .player-content .coutry-logo {
    width: .35rem;
    margin-bottom: .05rem; }
    .ui-popup-player .player-content .coutry-logo img {
      width: 100%; }
  .ui-popup-player .player-content .en-name {
    font-size: .28rem;
    font-weight: 700;
    line-height: 1;
    color: #262f32; }
  .ui-popup-player .player-content .ch-name {
    padding-top: .05rem;
    font-size: .18rem;
    font-weight: 700;
    color: #000; }
  .ui-popup-player .player-content .about-info {
    font-size: .10rem;
    padding-top: .05rem;
    line-height: 1.4; }
  .ui-popup-player .player-content .blog-link {
    padding: .2rem 0 .25rem;
    font-size: .12rem; }
    .ui-popup-player .player-content .blog-link .icon-weibo,
    .ui-popup-player .player-content .blog-link .icon-f,
    .ui-popup-player .player-content .blog-link .icon-t {
      width: .12rem;
      height: .12rem;
      overflow: hidden;
      background: url(../images/icon_share_weibo.png) no-repeat top left;
      background-size: cover;
      vertical-align: middle; }
    .ui-popup-player .player-content .blog-link .icon-f {
      background-image: url(../images/icon_share_f.png);
      height: .10rem;
    }
    .ui-popup-player .player-content .blog-link .icon-t {
      background-image: url(../images/icon_share_t.png); }
  .ui-popup-player .player-content .pic img {
    width: 100%; }
  .ui-popup-player .player-content .text-pos {
    position: absolute;
    left: 0;
    bottom: .1rem; }
    .ui-popup-player .player-content .text-pos .pos {
      font-size: .7rem;
      color: #fbd46b;
      font-weight: 700;
      line-height: .8; }
    .ui-popup-player .player-content .text-pos .coutry {
      font-size: .24rem;
      font-weight: 700;
      color: #8fa3aa; }
  .ui-popup-player .about-1 {
    font-size: .12rem;
    color: #2b3437; }
.subscribe-wrap {
  background: url(../images/subscribe/bg_2.png) no-repeat 90% .65rem;
  background-size: 1.6rem auto;
}
.subscribe-wrap .ui-title-1 .button-return {
  border-top-color: #000;
  border-left-color: #000; }
.subscribe-wrap .content {
  min-height: 4rem;
  padding: .25rem;
  margin-right: .25rem;
   }
.subscribe-wrap .banner-text {
  width: 70%;
  text-align: right; }
.subscribe-wrap .phone-rss {
  padding-top: .2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  color: #000; }
  .subscribe-wrap .phone-rss .rss-text {
    width: .30rem;
    padding-top: .22rem;
    padding-right: .05rem; }
    .subscribe-wrap .phone-rss .rss-text img {
      width: 100%;
      vertical-align: bottom; }
  .subscribe-wrap .phone-rss .text {
    height: .22rem;
    font-weight: 700; }
  .subscribe-wrap .phone-rss .input-phone {
    width: 1.1rem;
    height: .26rem;
    background: none;
    border: 1px solid #000;
    color: #000; }
  .subscribe-wrap .phone-rss .button-sub {
    width: .26rem;
    height: .26rem;
    margin: .22rem 0 0 .1rem;
    background: url(../images/subscribe/icon.png) no-repeat center;
    background-size: .16rem .14rem;
    border: 1px solid #000; }
.subscribe-wrap .main-title {
  color: #000;
  font-weight: 700; }
.subscribe-wrap .sub-title {
  font-size: .16rem;
  font-weight: 700;
  line-height: 1.2; }
  .subscribe-wrap .sub-title .text {
    font-size: .18rem; }

.en-subscribe-wrap .banner-text {
  width: 75%; }
.en-subscribe-wrap .main-title {
  font-size: .12rem; }

.ui-popup-scroll {
  height: 92%;
  overflow-y: auto; }

.ui-popup-show {
  display: block; }


/* news */
.ui-bg-2 {
  background: #fff; }

.news-wrap .ui-title-1 h2,
.news-detail-wrap .ui-title-1 h2 {
  font-weight: 700;
  color: #000; }
.news-wrap .ui-title-1 .button-return,
.news-detail-wrap .ui-title-1 .button-return {
  border-top-color: #000;
  border-left-color: #000; }  

.news-wrap .news-list {
  border-bottom: 1px solid #a6c8ea; }
  .news-wrap .news-list a {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    padding: .1rem; }
  .news-wrap .news-list .pic {
    width: .65rem;
    height: .65rem;
    margin-right: .1rem;
    overflow: hidden; }
    .news-wrap .news-list .pic img {
      width: 100%; }
  .news-wrap .news-list .news-text {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    flex: 1; }
  .news-wrap .news-list .name {
    margin-bottom: .05rem;
    color: #1a1a1a; }
  .news-wrap .news-list .content {
    color: #a8a8b1; }

.news-detail-wrap {
  color: #1a1a1a; }
  .news-detail-wrap .artical-title {
    padding: .1rem .15rem;
    border-bottom: 1px solid #a6c8ea; }
    .news-detail-wrap .artical-title .headline {
      padding-bottom: .05rem;
      line-height: 1.2;
      font-size: .18rem; }
    .news-detail-wrap .artical-title .blog-link {
      font-size: .12rem;
      color: #a8a8b1; }
      .news-detail-wrap .artical-title .blog-link a {
        color: #a8a8b1; }
      .news-detail-wrap .artical-title .blog-link .icon-weibo,
      .news-detail-wrap .artical-title .blog-link .icon-weixin {
        display: inline-block;
        width: .12rem;
        height: .12rem;
        overflow: hidden;
        background: url(../images/icon_share_weibo.png) no-repeat top left;
        background-size: cover;
        vertical-align: middle; }
      .news-detail-wrap .artical-title .blog-link .icon-weixin {
        background-image: url(../images/icon_share_weixin.png); }
  .news-detail-wrap .article-content {
    padding: .2rem .15rem;
    word-wrap: break-word; }
    .news-detail-wrap .article-content p {
      padding: .1rem 0; }
    .news-detail-wrap .article-content img {
      max-width: 100%; }  
    .news-detail-wrap .article-content .article-pic {
      padding-bottom: .2rem;
      text-align: center;
    }  



/* 活动 */
.activity-wrap .ui-title-1 .button-return {
  border-top-color: #98c2e8;
  border-left-color: #98c2e8; }
.activity-wrap .ui-title-1 h2 {
  color: #98c2e8; }
.activity-wrap .active-con {
  padding: 0 .15rem; }
.activity-wrap .banner {
  margin: 0 .1rem .25rem 0;
  border: 2px solid #98c2e8; }
  .activity-wrap .banner img {
    width: 100%; }
.activity-wrap .banner-pos {
  position: relative;
  top: .1rem;
  left: .1rem; }
.activity-wrap .content-inner {
  margin: 0 .1rem .25rem 0;
  border: 2px solid #98c2e8; }
.activity-wrap .content-pos {
  position: relative;
  top: .1rem;
  left: .1rem;
  padding: .1rem .1rem .2rem;
  background: #98c2e8;
  color: #fff; }
  .activity-wrap .content-pos .active-list {
    padding: .1rem .15rem;
    font-size: .16rem;
    margin-bottom: .1rem;
    border-bottom: 1px solid #d0e9ff; }
  .activity-wrap .content-pos .info {
    padding-bottom: .15rem; }
  .activity-wrap .content-pos .form-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    padding: .05rem .2rem .05rem .1rem; }
  .activity-wrap .content-pos .form-list label {
    width: .8rem;
    text-align: right;
    padding-right: .05rem; }
  .activity-wrap .content-pos .form-list .flex {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    flex: 1; }
  .activity-wrap .content-pos .form-list .select,
  .activity-wrap .content-pos .form-list .input-text {
    width: 100%;
    height: .26rem;
    line-height: .26rem;
    padding: 0 .05rem;
    border: 1px solid #fec748;
    background: #98c2e8; }
  .activity-wrap .content-pos .button-inner {
    padding-top: .15rem;
    text-align: center; }
  .activity-wrap .content-pos .button-confirm {
    height: .36rem;
    line-height: .36rem;
    padding: 0 .15rem;
    background: #fec748;
    border: none;
    font-size: .16rem; }

.popup-success {
  display: none;
  position: fixed;
  top: 0;
  left: .1rem;
  right: .1rem;
  z-index: 100;
  padding: .1rem;
  background: #5e97d7;
  border: 2px solid #fec748;
  color: #fff; }
  .popup-success .text {
    padding: .2rem 0;
    font-size: .16rem;
    color: #fec748; }      

/*# sourceMappingURL=common.css.map */
