.fn-clearfix:before, .ui-header .ui-top-bar:before, .ui-header .ui-main-nav:before, .ui-footer .ui-footer-main:before, .ui-footer .ui-link-address:before, .ui-wrap:before, .investor-wrap .annual-report .report-focus:before, .investor-wrap .annual-report .report-focus .reprot-focus-list ul:before, .investor-wrap .ir-feed .bd:before, .fn-clearfix:after, .ui-header .ui-top-bar:after, .ui-header .ui-main-nav:after, .ui-footer .ui-footer-main:after, .ui-footer .ui-link-address:after, .ui-wrap:after, .investor-wrap .annual-report .report-focus:after, .investor-wrap .annual-report .report-focus .reprot-focus-list ul:after, .investor-wrap .ir-feed .bd:after {
  content: "";
  display: table; }
.fn-clearfix:after, .ui-header .ui-top-bar:after, .ui-header .ui-main-nav:after, .ui-footer .ui-footer-main:after, .ui-footer .ui-link-address:after, .ui-wrap:after, .investor-wrap .annual-report .report-focus:after, .investor-wrap .annual-report .report-focus .reprot-focus-list ul:after, .investor-wrap .ir-feed .bd:after {
  clear: both; }

.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 768px) {
  .row {
    margin-right: -15px;
    margin-left: -15px; }
    .row:before, .row:after {
      content: "";
      display: table; }
    .row:after {
      clear: both; }

  .col-lg-1 {
    float: left;
    width: 8.33333%; } }
@media (min-width: 768px) {
  .row {
    margin-right: -15px;
    margin-left: -15px; }
    .row:before, .row:after {
      content: "";
      display: table; }
    .row:after {
      clear: both; }

  .col-lg-2 {
    float: left;
    width: 16.66667%; } }
@media (min-width: 768px) {
  .row {
    margin-right: -15px;
    margin-left: -15px; }
    .row:before, .row:after {
      content: "";
      display: table; }
    .row:after {
      clear: both; }

  .col-lg-3 {
    float: left;
    width: 25%; } }
@media (min-width: 768px) {
  .row {
    margin-right: -15px;
    margin-left: -15px; }
    .row:before, .row:after {
      content: "";
      display: table; }
    .row:after {
      clear: both; }

  .col-lg-4 {
    float: left;
    width: 33.33333%; } }
@media (min-width: 768px) {
  .row {
    margin-right: -15px;
    margin-left: -15px; }
    .row:before, .row:after {
      content: "";
      display: table; }
    .row:after {
      clear: both; }

  .col-lg-5 {
    float: left;
    width: 41.66667%; } }
@media (min-width: 768px) {
  .row {
    margin-right: -15px;
    margin-left: -15px; }
    .row:before, .row:after {
      content: "";
      display: table; }
    .row:after {
      clear: both; }

  .col-lg-6 {
    float: left;
    width: 50%; } }
@media (min-width: 768px) {
  .row {
    margin-right: -15px;
    margin-left: -15px; }
    .row:before, .row:after {
      content: "";
      display: table; }
    .row:after {
      clear: both; }

  .col-lg-7 {
    float: left;
    width: 58.33333%; } }
@media (min-width: 768px) {
  .row {
    margin-right: -15px;
    margin-left: -15px; }
    .row:before, .row:after {
      content: "";
      display: table; }
    .row:after {
      clear: both; }

  .col-lg-8 {
    float: left;
    width: 66.66667%; } }
@media (min-width: 768px) {
  .row {
    margin-right: -15px;
    margin-left: -15px; }
    .row:before, .row:after {
      content: "";
      display: table; }
    .row:after {
      clear: both; }

  .col-lg-9 {
    float: left;
    width: 75%; } }
@media (min-width: 768px) {
  .row {
    margin-right: -15px;
    margin-left: -15px; }
    .row:before, .row:after {
      content: "";
      display: table; }
    .row:after {
      clear: both; }

  .col-lg-10 {
    float: left;
    width: 83.33333%; } }
@media (min-width: 768px) {
  .row {
    margin-right: -15px;
    margin-left: -15px; }
    .row:before, .row:after {
      content: "";
      display: table; }
    .row:after {
      clear: both; }

  .col-lg-11 {
    float: left;
    width: 91.66667%; } }
@media (min-width: 768px) {
  .row {
    margin-right: -15px;
    margin-left: -15px; }
    .row:before, .row:after {
      content: "";
      display: table; }
    .row:after {
      clear: both; }

  .col-lg-12 {
    float: left;
    width: 100%; } }
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 * 0. sassCore's style
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  overflow-y: scroll;
  /* 0 */
  -webkit-overflow-scrolling: touch;
  /* 0 */ }

/**
 * 1. Remove default margin
 * 0. sassCore's style.
 */
body {
  margin: 0;
  /* 1 */
  font-size: 12px;
  /* 0 */
  line-height: 1.5;
  /* 0 */
  color: #4f5964;
  /* 0 */
  background-color: #fff;
  /* 0 */ }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 * 3. Correct `inline-block` display in IE 6/7.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background color from active links in IE 10.
 * 2. Improve readability when focused and also mouse hovered in all browsers.
 * 0. sassCore's style.
 */
a {
  background: transparent;
  /* 1 */
  /* 0 */
  text-decoration: none;
  color: #4f5964; }
  a:active, a:hover {
    outline: 0;
    /* 2 */ }
  a:hover {
    color: #003586; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improve image quality when scaled in IE 7.
 * 0. sassCore's style.
 */
img {
  border: 0;
  /* 1 */
  vertical-align: middle;
  /* 0 */ }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * 1. Contain overflow in all browsers.
 * 2. Improve readability of pre-formatted text in all browsers.
 */
pre {
  overflow: auto;
  /* 1 */
  white-space: pre;
  /* 2 */
  white-space: pre-wrap;
  /* 2 */
  word-wrap: break-word;
  /* 2 */ }

/**
 * 1. Address odd `em`-unit font size rendering in all browsers.
 * 2. Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Remove default vertical scrollbar in IE 8/9/10/11.
 * 0. sassCore's style
 */
textarea {
  overflow: auto;
  /* 1 */
  resize: vertical;
  /* 0 */ }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/**
 * Address CSS quotes not supported in IE 6/7.
 */
html,
button,
input,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Tahoma, "Microsoft Yahei", sans-serif; }

h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
  margin: 0; }

ul, ol, li, dl, dd {
  margin: 0;
  padding: 0; }

ul, ol {
  list-style: none outside none; }

h1, h2, h3 {
  line-height: 2;
  font-weight: normal; }

h1 {
  font-size: 18px; }

h2 {
  font-size: 15.6px; }

h3 {
  font-size: 14.04px; }

h4 {
  font-size: 12px; }

h5, h6 {
  font-size: 10.2px;
  text-transform: uppercase; }

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #ccc; }

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #ccc; }

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #ccc; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #ccc; }

a, button, input, textarea {
  -webkit-tap-highlight-color: transparent; }

a:hover {
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.fn-fl {
  float: left; }

.fn-fr {
  float: right; }

.fn-clear {
  display: block;
  float: none;
  clear: both;
  overflow: hidden;
  width: auto;
  height: 0;
  margin: 0 auto;
  padding: 0;
  font-size: 0;
  line-height: 0; }

.fn-hide {
  display: none; }

.ui-w {
  max-width: 1000px;
  margin: 0 auto; }

/* header */
.ui-header {
  border-bottom: 1px solid #003586; }
  .ui-header .ui-top-bar {
    padding: 25px 0 30px; }
    .ui-header .ui-top-bar .ui-logo {
      float: left; }
    .ui-header .ui-top-bar .ui-search {
      float: right;
      border-bottom: 1px solid #003586;
      color: #003586;
      line-height: 33px; }
      .ui-header .ui-top-bar .ui-search a {
        color: #003586; }
      .ui-header .ui-top-bar .ui-search .select-tag {
        float: left; }
        .ui-header .ui-top-bar .ui-search .select-tag .select-set {
          position: relative;
          padding-right: 16px;
          font-size: 16px;
          margin-right: 5px; }
          .ui-header .ui-top-bar .ui-search .select-tag .select-set .arrow-bottom {
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 0;
            border-color: rgba(255, 255, 255, 0);
            border-color: transparent\0;
            *border-color: transparent;
            _border-color: tomato;
            _filter: chroma(color=tomato);
            border-style: solid;
            overflow: hidden;
            border-width: 6px 6px 0;
            border-top-color: #003586;
            top: 50%;
            left: auto;
            right: 0;
            margin-top: -3px; }
      .ui-header .ui-top-bar .ui-search .in-style {
        float: left;
        width: 190px;
        height: 33px;
        border: none;
        font-size: 14px; }
      .ui-header .ui-top-bar .ui-search .button-search {
        float: left;
        width: 33px;
        height: 33px;
        overflow: hidden;
        background: url(../images/icon_search.png) no-repeat center;
        text-indent: -99em; }
      .ui-header .ui-top-bar .ui-search .select-dropdown {
        display: none; }
  .ui-header .ui-main-nav {
    font-size: 18px;
    color: #003586; }
    .ui-header .ui-main-nav li {
      float: left;
      padding: 0 15px; }
    .ui-header .ui-main-nav .first-node {
      padding-left: 0; }
    .ui-header .ui-main-nav a {
      display: block;
      height: 50px;
      padding: 0 5px;
      color: #003586; }
    .ui-header .ui-main-nav .active a {
      height: 45px;
      border-bottom: 5px solid #244386; }

.ui-footer {
  background: #283645; }
  .ui-footer .ui-footer-main {
    padding: 40px 0;
    background: #2f4052; }
  .ui-footer .ui-link-address {
    color: #fff; }
    .ui-footer .ui-link-address a {
      color: #fff; }
    .ui-footer .ui-link-address .link-list {
      float: left;
      width: 20%;
      line-height: 26px; }
      .ui-footer .ui-link-address .link-list dl {
        margin-bottom: 10px; }
      .ui-footer .ui-link-address .link-list dt {
        padding-bottom: 5px;
        font-size: 16px; }
      .ui-footer .ui-link-address .link-list .round {
        display: inline-block;
        width: 3px;
        height: 3px;
        margin-right: 5px;
        overflow: hidden;
        background: #fff;
        vertical-align: middle;
        border-radius: 50%; }
  .ui-footer .footer-feed .feed-title {
    margin-bottom: 10px;
    font-size: 16px;
    color: #fff; }
  .ui-footer .footer-feed .in-feed {
    width: 100%;
    height: 42px;
    padding: 0 10px;
    background: none;
    font-size: 16px;
    border: 2px solid #fff;
    color: #fff; }
  .ui-footer .footer-feed .feed-bd {
    position: relative; }
  .ui-footer .footer-feed .button-feed {
    position: absolute;
    top: 0;
    right: 0;
    width: 42px;
    height: 42px;
    overflow: hidden;
    background: url(../images/feed_button.png) no-repeat center; }
  .ui-footer .ui-copyright {
    padding: 20px 0;
    color: #fff; }
    .ui-footer .ui-copyright a {
      color: #fff; }
    .ui-footer .ui-copyright .copyright-main {
      text-align: right; }

.ui-title-1 {
  height: 55px;
  padding-left: 5px; }
  .ui-title-1 .name {
    float: left;
    margin-right: 20px;
    font-size: 24px;
    line-height: 1.2;
    color: #244386; }
  .ui-title-1 .key-name {
    float: left;
    margin-top: 5px;
    font-size: 16px; }
  .ui-title-1 .ui-crumbs {
    float: right;
    margin-top: 10px;
    color: #244386; }
    .ui-title-1 .ui-crumbs a {
      color: #244386; }
    .ui-title-1 .ui-crumbs .icon-home {
      display: inline-block;
      width: 15px;
      height: 15px;
      overflow: hidden;
      margin-right: 5px;
      background: url(../images/icon_home.png) no-repeat center;
      vertical-align: sub; }

.ui-wrap {
  padding-top: 130px; }
  .ui-wrap .main-content {
    padding: 15px;
    background: #fff; }

.ui-sub-nav {
  position: relative;
  width: 240px;
  margin-bottom: 5px; }
  .ui-sub-nav .sub-nav-title {
    display: block;
    height: 45px;
    line-height: 45px;
    padding: 15px 0 0 25px;
    background: #f6f6f6;
    -webkit-box-shadow: 0 0 3px rgba(213, 213, 213, 0.3);
    box-shadow: 0 0 3px rgba(213, 213, 213, 0.3); }
    .ui-sub-nav .sub-nav-title .line {
      display: block;
      width: 20px;
      height: 3px;
      margin-bottom: 4px;
      overflow: hidden;
      background: #244386; }
  .ui-sub-nav .ui-sub-nav-list {
    display: none;
    position: absolute;
    top: 45px;
    left: 0;
    width: 240px;
    min-height: 300px;
    padding: 15px 20px;
    font-size: 16px;
    background: #fff;
    border: 1px solid #f1f1f1;
    border-top: none; }
    .ui-sub-nav .ui-sub-nav-list li {
      position: relative;
      padding: 5px 0; }
    .ui-sub-nav .ui-sub-nav-list a {
      display: block;
      height: 28px;
      line-height: 28px; }
    .ui-sub-nav .ui-sub-nav-list .arrow-right {
      position: absolute;
      top: 50%;
      right: 0;
      width: 5px;
      height: 5px;
      margin-top: -3px;
      overflow: hidden;
      border-right: 1px solid #244386;
      border-bottom: 1px solid #244386;
      -webkit-transform: rotate(315deg);
      transform: rotate(315deg);
      visibility: hidden; }
    .ui-sub-nav .ui-sub-nav-list .active {
      border-bottom: 1px solid #244386; }
      .ui-sub-nav .ui-sub-nav-list .active .arrow-right {
        visibility: visible; }

.ui-sub-nav-show .ui-sub-nav-list {
  display: block; }

.ui-sub-nav-isshow .ui-sub-nav-list {
  display: block;
  position: inherit;
  top: 0; }

/* investor */
.investor-wrap {
  min-height: 300px;
  background: url(../images/banner_bg_1.jpg) no-repeat top center; }
  .investor-wrap .stock {
    margin-bottom: 15px; }
    .investor-wrap .stock .upload-tiem {
      height: 35px;
      font-size: 14px;
      text-align: right; }
    .investor-wrap .stock .table-1 {
      width: 100%;
      font-size: 14px;
      text-align: center;
      border-top: 2px solid #244386; }
      .investor-wrap .stock .table-1 td,
      .investor-wrap .stock .table-1 th {
        height: 32px;
        line-height: 32px;
        border-bottom: 1px solid #e5e5e5;
        border-left: 1px solid #e5e5e5; }
      .investor-wrap .stock .table-1 th {
        background: #fafafa; }
      .investor-wrap .stock .table-1 .sp-1 {
        border-left: none; }
      .investor-wrap .stock .table-1 .red {
        color: #f00; }
      .investor-wrap .stock .table-1 .green {
        color: #00d81e; }
      .investor-wrap .stock .table-1 .blue {
        color: #003586; }
  .investor-wrap .title {
    height: 34px; }
    .investor-wrap .title h2 {
      font-size: 16px;
      line-height: 1.2;
      color: #3a3a3a; }
  .investor-wrap .annual-report {
    margin-top: 20px; }
    .investor-wrap .annual-report .title {
      height: 40px; }
    .investor-wrap .annual-report .report-focus {
      position: relative;
      height: 265px; }
      .investor-wrap .annual-report .report-focus .button-prev,
      .investor-wrap .annual-report .report-focus .button-next {
        position: absolute;
        top: 80px;
        display: inline-block;
        width: 20px;
        height: 28px;
        overflow: hidden;
        background: url(../images/arrow.png) no-repeat 0 2px; }
      .investor-wrap .annual-report .report-focus .button-prev {
        left: 0; }
      .investor-wrap .annual-report .report-focus .reprot-focus-list ul {
        width: 200%; }
      .investor-wrap .annual-report .report-focus .reprot-focus-list li {
        float: left;
        width: 135px; }
      .investor-wrap .annual-report .report-focus .reprot-focus-list .pic {
        width: 124px;
        height: 174px;
        padding: 2px;
        margin-bottom: 8px;
        overflow: hidden;
        border: 1px solid #929292; }
        .investor-wrap .annual-report .report-focus .reprot-focus-list .pic img {
          width: 100%; }
      .investor-wrap .annual-report .report-focus .reprot-focus-list .name {
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.2; }
      .investor-wrap .annual-report .report-focus .button-next {
        right: 0;
        background-position: 0 -74px; }
  .investor-wrap .ir-feed {
    margin-bottom: 20px; }
    .investor-wrap .ir-feed .in-br {
      float: left;
      width: 240px;
      height: 40px;
      padding: 0 10px;
      margin-right: 15px;
      background: #f5f5f5;
      border: none;
      border-top: 1px solid #d2d2d2;
      border-left: 1px solid #d2d2d2;
      border-radius: 2px; }
    .investor-wrap .ir-feed .bd a {
      float: left;
      display: inline-block;
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      margin-right: 4px;
      font-size: 16px;
      color: #fff;
      background: #a8a8a8;
      border-radius: 2px; }
    .investor-wrap .ir-feed .bd .button-feed {
      background: #003586; }
  .investor-wrap .new-news .table {
    width: 100%;
    font-size: 14px; }
    .investor-wrap .new-news .table th,
    .investor-wrap .new-news .table td {
      height: 40px;
      line-height: 40px;
      border-left: 1px solid #e5e5e5;
      border-bottom: 1px solid #e5e5e5; }
    .investor-wrap .new-news .table th {
      height: 37px;
      line-height: 37px;
      background: #f6f6f6;
      border-top: 2px solid #244386; }
    .investor-wrap .new-news .table .tag {
      display: inline-block;
      height: 26px;
      line-height: 26px;
      padding: 0 3px;
      background: #003586;
      color: #fff;
      border-radius: 3px; }
    .investor-wrap .new-news .table .sp-1 {
      border-left: none; }
    .investor-wrap .new-news .table .sp-2 {
      text-align: center;
      width: 100px; }
    .investor-wrap .new-news .table th.sp-1 {
      text-align: left;
      padding-left: 30px; }
    .investor-wrap .new-news .table .text {
      height: 37px;
      overflow: hidden; }
  .investor-wrap .new-news .button-inner {
    padding-top: 20px;
    text-align: right;
    font-size: 14px; }
    .investor-wrap .new-news .button-inner a {
      color: #003586; }

.share-fn {
  padding: 50px 0 20px 0;
  border-bottom: 1px solid #5a5a5a; }

.other-fn {
  padding-top: 10px;
  text-align: right; }

.about-wrap {
  background: url(../images/banner_bg_2.jpg) no-repeat top center; }
  .about-wrap .ui-sub-nav {
    float: left; }
  .about-wrap .main-content {
    float: right;
    width: 740px;
    margin-top: 45px; }
  .about-wrap .about-banner {
    margin-bottom: 20px; }
    .about-wrap .about-banner img {
      width: 100%; }
  .about-wrap .about-content {
    font-size: 14px;
    text-align: justify; }
    .about-wrap .about-content .about-content-pic {
      float: right;
      margin: 0 0 20px 20px; }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
  .ui-header {
    padding-left: 15px;
    padding-right: 15px; }
    .ui-header .ui-main-nav li {
      padding: 0; }

  .ui-footer .ui-w {
    padding-left: 15px;
    padding-right: 15px; }

  .investor-wrap .ir-feed .in-br {
    width: 170px;
    margin-right: 10px; }

  .about-wrap .main-content {
    width: 510px; } }

/*# sourceMappingURL=common.css.map */
